body{
  background-image: url(creative-math-wallpaper-glowing-mathematical-formulas-equations-algorithm-complex-concept-d-rendering-151892551.webp);
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-repeat: no-repeat;
  font-size: 20px;
}
table,td {
  /* font-size: 50px */
    border: 0px solid black;
    border-collapse: collapse;
    text-align: center;
}
.in{
  border-radius: 50px;
}
.eq{
  background-color: rgb(227, 227, 34);
}
table{
  font-size: 50px;
}

th{ 
  border: none;
   height: 9vh;
  border-collapse: collapse;
  text-align: center;
}
.outerbox{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:27vw;
  height: 70vh;
  border-style: solid;
  border-color: rgb(4, 5, 5);
  /* background-color: rgb(44, 10, 10); */
}
table{
  height: 65vh;
}
button{
  width:6vw;
  height: 8vh;
  border-color: transparent;
  border-radius: 15px;
}
input{
  width:25vw;
  height: 9vh;
  border-style: none;
  font-size: 30px;
  text-wrap: balance;
}
.z{
  font-size: 20px;
  width: 25.5vh;
}
button:hover{
  font-size: 20px;
  cursor: pointer;
  /* background-color: rgb(250, 239, 225); */
}
.br{
  background-color: rgb(234, 249, 170);
}
.br:hover{
  background-color: rgb(250, 239, 225);
}
h1{
  color: white;
  margin-bottom: 83vh;
  text-align: center;
  position:absolute;
}