body {
  background-image: url('img/—Pngtree—c4d\ neon\ cool\ background_1113037.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 90vh;
  
  
}

.calcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
  h1{
    text-align: center;
    font-size: 50px;
    color: white;
  }
.box1{
  border-color:black;
  border-width: 3px;
  border-style: solid;
  margin-top:100px;
  margin-left: 2vw;
  background-color:rgba(255, 255, 255, 0.503);
  width: 305px;
  height: 500px;
  
}
.typee{
  border-color:black;
  color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
  margin-top:1px;
  margin-left: 0px;
  background-color:rgba(255, 255, 255, 0);
  width: 300px;
  height: 80px;
  font-size: 30px;
}
.C,.div,.mul,.sub{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  
}
.add{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  margin-left: 10px;
}
.seven,.eight,.nine{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin: top 200px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15x;
}
.four,.five,.six{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin: top 200px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px
}
.id5{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin: top 200px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.id6{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin: top 200px;
  width: 60px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.id8{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  margin: top 200px;
  width: 135px;
  height: 60px;
  background-color: rgb(16, 218, 225);
  border-radius: 12px;
  font-size: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.id10{

    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: top 200px;
    width: 60px;
    height: 60px;
    background-color: rgb(16, 218, 225);
    border-radius: 12px;
    font-size: 45px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px

}
.id11{
  border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: top 200px;
    width: 60px;
    height: 60px;
    background-color: rgb(16, 218, 225);
    border-radius: 12px;
    font-size: 50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px
}
#clear:hover{
  background-color: rgb(240, 21, 21);
  cursor: pointer;
}
.id1:hover,.id2,.id3,.id4,.id5,.id6,.id8,.id11,.id10,.id12{
  cursor: pointer;
}
#ar:hover{
  background-color: darkmagenta;
}
#equal:hover{
  background-color: green;
}
#ac:hover{
  cursor: pointer;
}
#num:hover{
  background-color: aqua;
}
.id13{
  border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: top 200px;
    width: 60px;
    height: 60px;
    background-color: rgb(16, 218, 225);
    border-radius: 12px;
    font-size: 38px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px
}
.id13:hover{
  background-color: rgb(240, 21, 21);
  cursor: pointer;
}
